<div [ngSwitch]="msg.sendBy">
  <div *ngSwitchCase="'bot'" class="msg" [class.show]="isVisible">
    <mat-card class="card bot">
      <mat-card class="icon">
        <i class="material-icons">
          android
        </i>
      </mat-card>
      <mat-card-content>
        {{msg.text}}
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngSwitchCase="'user'" class="msg user-msg" [class.show]="isVisible">
    <mat-card class="card user">
      <mat-card-content>
        {{msg.text}}
      </mat-card-content>
    </mat-card>
  </div>
</div>
